@font-face {
    font-family: "Hardpixel";
    src: url("assets/fonts/Hardpixel.OTF") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0f0f0f;
}

#app {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/ui/background-all.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    touch-action: none;
    overscroll-behavior: none;
}

@media (max-width: 768px) {
    #app {
        background-size: cover;
    }
}
